@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url("./img/bannerHeader.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    .box-header{
        margin-top: 30px;
        width: 80%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(to right, #4247A2 0%, #52B095 100%);
        border-radius: 50px;
        display: flex;
        
        nav{
            width: 40%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            a {
                color: white;
                font-family: "Roboto", sans-serif;
            }
        }
    }
}

.box-banner{
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    .box-titulo {
        height: 60vh;
        h2 {
         font-size: 2.7rem;
         background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         color: transparent;
         font-weight: bold;
        }
        p {
            font-size: 1.625rem;
            width: 60%;
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

        div {
            display: flex;
            gap: 1.5rem;
            font-weight: 500;
        }
         .btn-azul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16rem;
            color: white;
            background-color: #1173D4;
            height: 3rem;
            border-radius: 10px;
        }

        .btn-branco {
            border: 1px solid #1173D4;
            color: #1173D4;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15rem;
            height: 3rem;
            border-radius: 10px;
        }
    }
}

.importancia {
    font-family: "Inter", sans-serif;
    background-color: #F8F9FA;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2.8rem;
        }

        p {
            font-size: 1.25rem;
            width: 55%;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}

.container-cards {
        display: flex;
        justify-content: center;
        gap: 3rem;

        article {
            box-shadow: 0px 0px 3px 3px #00000025;
            border-radius: 10px;
            margin-top: 2.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;


            h2 {
                margin-top: 1.25rem;
                margin-bottom: 1.25rem;
            }

            p {
                width: 60%;
            }
        }
    }
.prevencao-feminina {
    background-color: #FDEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
        font-family: "inter", sans-serif;
        font-size: 2.5rem;
        background: linear-gradient(to right, #F9016F8A 54%, #930885 61.96%, #D038AAC0 75.48%, #851C87);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2.75rem;
    }
}
.cards-prevencao {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    .cards-superiores,
    .cards-inferiores {
        display: flex;
        justify-content: center;
        gap: 3rem;

        article {
            background-color: #FEFEFE;
            box-shadow: 0px 5px 4px #00000025;
            width: 15.6rem;
            height: 25rem;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0.8rem;
            font-family: "Roboto", sans-serif;

            h3 {
                font-size: 1.2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            ul {  width: 100%;
                padding-left: 1.25rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    font-size: 14px;
                }
            }
        }
    }
}

.prevencao-masculina {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;  h1 {
        font-family: "inter", sans-serif;
        font-size: 2.5rem;
        background: linear-gradient(to right, #3373D2, #6F95C7, #7BB5F5, #0074EE, #5EA7EF);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2.75rem;
    }
}

.alertas {
    h1 {
        margin-top: 2rem;
        font-family: "inter", sans-serif;
        background: linear-gradient(to right, #1173D4, #33CC73);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.8rem;
        text-align: center;
    }
     .container-colorido {
        font-family: "Roboto", sans-serif;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;

        .cards-superiores2,
        .cards-inferiores2 {
            display: flex;
            flex-wrap: wrap;
            gap: 6rem;
            justify-content: center;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;
            align-items: center;
            margin-top: 1rem;
            padding-left: 1.5rem;
        }
        
        .cards {
            width: 26rem;
            height: 8.8rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .paragrafo {
            padding: 0;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}

#vermelho {
    background-color: #F9D5E5;
    color: #AD346A;
}
#azul {
    background-color: #CFE2F3;
    color: #2769A3;
}

#verde {
    background-color: #D4EDDA;
    color: #244A2D;
}

#amarelo {
    background-color: #FFE9C2;
    color: #976C00;

    .paragrafo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}
footer {
    background-color: #313461;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    padding: 4rem 0 2rem 0;

    a {
        color: inherit;
    }

    .info {
        display: flex;
        justify-content: space-around;
        border-bottom: solid 2px #FFF;
        padding-bottom: 2rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            li {
                list-style: none;
            }
        }
    }
     h3 {
        font-size: 1rem;
    }

    .logo-texto,
    .links-uteis,
    .contato {
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    .logo-texto {
        align-items: flex-start;
        gap: 1rem;

        img {
            margin-left: 1rem;
        }

        p {
            width: 90%;
        }
    }
.links-uteis,
    .contato {
        padding-top: 1rem;
        gap: 1rem;

        li {
            a {
                text-decoration: none;
            }
        }
    }

    .contato {
        gap: 1rem;

        p {
            width: 100%;
        }
    }

    .copy {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    header {
        height: auto;
        padding-bottom: 4rem;
        background-size: contain;

        .box-header {
            height: 4rem;

            img {
                width: 20%;
            }

            nav {
                a {
                    font-size: 20px;
                }
            }
        }

         .box-banner {
            height: auto;

            .box-titulo {
                height: auto;

                h2 {
                    width: 60%;
                    margin-top: 3rem;
                }
            }
        }
    }

    main {
        .importancia {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

            .texto {
                h1 {
                    max-width: 90%;
                }
                 p {
                    width: 90%;
                    font-size: 1.5rem;
                }
            }

            .container-cards {
                width: 95%;

                article {
                    h2 {
                        width: 95%;
                    }

                    p {
                        width: 90%;
                    }
                }
            }
        }

        .prevencao-masculina,
        .prevencao-feminina {

            .cards-superiores,
            .cards-inferiores {
                 max-width: 100%;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }
        }

        .alertas {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 24px;
            }

            .container-colorido {
                width: 30rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                gap: 1rem;
                 div {
                    padding-left: 0;
                    justify-content: center;
                    margin-top: 0;
                }

                .cards-superiores2,
                .cards-inferiores2 {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    align-items: center;
                    padding-left: 0;
                }

                .cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    height: auto;
                    padding: 1rem;
                }
                 #amarelo {
                    .paragrafo {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .info {
            max-width: 95%;
            gap: 1rem;
        }
    }
}

@media (max-width: 600px) {
    header {
        background-image: none;

        .box-header {
            max-width: 95%;

            img {
                width: 30%;
            }

            nav {
                a {
                    font-size: 11px;
                }
            }
        }

        .box-banner {
            padding: 0;
            height: auto;

             .box-titulo {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    width: 100%;
                    background: linear-gradient(to left, #33CC73, #1173D4);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: center;
                    font-size: 40px;
                }

                p {
                    text-align: center;
                    width: 100%;
                }

                div {
                    width: 80%;

                    .btn-azul {
                        font-size: 11px;
                        text-align: center;
                        width: 20rem;
                        }

                    .btn-branco {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }

    main {
        .importancia {
            height: auto;

            .texto {
                text-align: center;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 15px;
                    width: 90%;
                    margin-top: 2rem;
                    margin-bottom: 1.5rem;
                }
            }

            .container-cards {
                display: flex;
                flex-direction: column;
                align-items: center;

                article {
                    max-width: 80%;

                    p {
                        width: 75%;
                    }
                }
            }
        }

        .prevencao-feminina,
        .prevencao-masculina {
            h1 {
                font-size: 2rem;
            }

            .cards-prevencao {

                .cards-superiores,
                .cards-inferiores {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
        }

        .alertas {
            h1 {
                font-size: 24px;
            }

            .container-colorido {
                width: 100%;
                gap: 1rem;

                div {
                    padding-left: 0;
                    justify-content: center;
                    margin-top: 0;
                }

                .cards-superiores2,
                .cards-inferiores2 {
                    padding-left: 0;
                    gap: 1rem;
                }

                .cards {
                    width: 90%;
                }

                #amarelo {
                    .paragrafo {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {

        .info,
        .logo-texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .info {
            gap: 2rem;
        }

        .logo-texto {
            img {
                width: 40%;
            }

            h3 {
                font-size: 15px;
            }
        }

        .copy {
            align-items: center;

            p {
                text-align: center;
                width: 80%;
            }
        }
    }
}